SECRET_KEY=change-me-to-something-random
DATABASE_PATH=/var/www/html/database.db
FLAG_PART1=ITDIV{bina_nus
FLAG_PART2=dont_try_to_guess_the_flag_dude_play_the_other_part}
ADMIN_COOKIE=supersecretadmincookie_xsscart
